<div class="editor-picker" *ngIf="activeRepo$ | async">

  <button class="titlebar-btn" (click)="toggle($event)">
    <img
      *ngIf="defaultEditor?.icon"
      class="editor-btn-icon"
      [src]="defaultEditor!.icon"
      width="14"
      height="14"
      [alt]="defaultEditor!.name"
    />
    Open In
    <span class="icon icon-chevron-down"></span>
  </button>

  <div class="editor-menu" *ngIf="open">

    <!-- No editors installed -->
    <ng-container *ngIf="editors.length === 0">
      <p class="editor-menu__no-editors">No editors installed</p>
      <p class="editor-menu__hint">Install VS Code, Cursor, or another editor to continue</p>
    </ng-container>

    <!-- Editor list (default first) -->
    <button
      *ngFor="let editor of orderedEditors"
      class="editor-menu__item"
      [class.editor-menu__item--active]="editor.id === defaultEditorId"
      (click)="openIn(editor.id)"
    >
      <img *ngIf="editor.icon" class="editor-menu-icon" [src]="editor.icon" [alt]="editor.name" />
      <span *ngIf="!editor.icon" class="editor-menu__icon-placeholder"></span>
      <span class="editor-menu__name">{{ editor.name }}</span>
      <span *ngIf="editor.id === defaultEditorId" class="editor-menu__check">✓</span>
    </button>

  </div>
</div>
